@import "mixins";
@import"variables";

/************************************ Bouton degradé **************************************/

.btn-degrad{

    @include btn-degrad;
 }

/************************************ Etape Fonctionnement **************************************/

.step{
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 16px;
    font-weight: lighter;
    align-items: center;
    height: 35px;
    margin-top: 25px;
    border-radius:25px;
    background-color: $light-grey;
    box-shadow: 2px 2px 8px rgb(194, 191, 191);
    padding: 20px 15px 20px 15px;
    transition-property: transform;
    transition-duration: 1000ms;

    &:hover{
        background-color:rgb(245,237,254);
        border-color:rgb(245,237,254);
        i{
            color:#9356dc
        }
    }

    .number{
        background-color: #9356dc;
        border-radius: 100%;
        padding: 5px 9px 5px 9px;
        margin-left: 10px;
        position: relative;
        right: 35px;
    }
    i
    {
        padding: 15px 30px 15px 0px;

    }
}


/************************************ Coeur  **************************************/

.block-heart{
    cursor: pointer;
    position: relative;

    .full-like{
        background: -webkit-gradient(linear, left top, left bottom, from(#ff79DA), to(#9356dc));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .empty-like{
        color: black;
        position: absolute;
    }
    &:hover{
        .empty-like{
            background-color: transparent;
            color: transparent;
            transition-duration: 1s;
        }
    }
    .home-heart{
        background-color: #ffffff;
    }
    .menu-heart{
        background-color: #f6f6f6;
    }
  }

