@media screen and (min-width: 768px) {

    #header{
       align-items: center;

       .logo{
           height: auto;

           p{
            font-size: 50px;
           }
       }

       .arrow{
           justify-content: space-around;
       }
   }

   .title-menu{
       justify-content: center;

       .fa-heart{
           padding-left: 30px;
       }
   }


   #formulaire {

       .menu-position{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
       }

       .menu-section{
           width: 100%;

           .btn-menu{
               margin: 10px 0px 10px 0px;
           }
       }
        @keyframes text-defile {
            0%, 100% {margin-left:0;}
            99.99% {margin-left:-100%;}
 }
       .menu-column{
           width: 33%;
       }

        h2{
        font-size: 20px;
       }
   }

        /******************************** RESPONSIVE ACCUEIL **********************************/
        .fonction{

            .fonctionnement{
                justify-items: center;
                display: flex;
                flex-direction: row;

                .step{
                    margin: 20px;
                    width: 30%;
                    padding: none;
                }

                .number{
                    position: relative;
                    left: -35px;
               }
            }
        }

        #restaurants{

            #cartes-restaurant{
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 15px;

                article{
                    width: 45%;
                }
            }
        }

    #footer{
        text-align: center;
    }
}
