@charset "UTF-8";
/************************** ANIMATION LOADER *******************************/
.loader {
  background-color: rgba(246, 246, 246, 0.8);
  inset: 0;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: disappear 3s forwards;
          animation: disappear 3s forwards;
}

.loader .fa-bell-concierge {
  font-size: 150px;
  -webkit-animation: chargeur 3s;
          animation: chargeur 3s;
  color: #9356dc;
}

@-webkit-keyframes disappear {
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
  }
}

@keyframes disappear {
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
  }
}

@-webkit-keyframes chargeur {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79DA;
  }
  75% {
    color: #99E2D0;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
    opacity: 0;
  }
}

@keyframes chargeur {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79DA;
  }
  75% {
    color: #99E2D0;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
    opacity: 0;
  }
}

/************************** ANIMATION  APPARITION DU MENU *******************************/
.menu-section .delay-1 {
  -webkit-animation: appearance .5s;
          animation: appearance .5s;
}

.menu-section .delay-2 {
  -webkit-animation: appearance 1s;
          animation: appearance 1s;
}

.menu-section .delay-3 {
  -webkit-animation: appearance 1.5s;
          animation: appearance 1.5s;
}

.menu-section .delay-4 {
  -webkit-animation: appearance 2s;
          animation: appearance 2s;
}

@-webkit-keyframes appearance {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appearance {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8px;
}

.btn-menu:hover .card-checked {
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  color: white;
  width: 50px;
  padding: 0px 20px 0px 20px;
  -webkit-animation: glissement 1s;
          animation: glissement 1s;
}

.description-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  width: 90%;
}

.description-side p, .description-side h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 10%;
}

.fa-circle-check {
  font-size: 30px;
  -webkit-animation: checked 1s;
          animation: checked 1s;
}

.card-checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  height: 100%;
  display: none;
}

.card-checked:hover {
  display: block;
  width: 100px;
  background-color: #99e2d0;
  color: white;
  -webkit-animation: glissement 1s;
          animation: glissement 1s;
}

@-webkit-keyframes checked {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checked {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glissement {
  from {
    width: 0%;
  }
  to {
    width: 300%;
  }
}

@keyframes glissement {
  from {
    width: 0%;
  }
  to {
    width: 300%;
  }
}

/******************************* GENERALE ******************************/
html {
  font-family: 'Roboto';
}

.shrikhand {
  font-family: 'Shrikhand';
}

/******************************* ACCUEIL ******************************/
.logo {
  font-family: 'Shrikhand';
  font-size: 30px;
}

.title-font {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px;
}

.banner h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.fonction h2, .restaurants h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

/******************************* MENU ******************************/
#formulaire h2 {
  font-weight: 100;
  margin: 10px;
  text-align: left;
}

#formulaire h2 .underline {
  border-bottom: #99E2D0 solid 3px;
}

.description-side {
  font-size: 15px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Roboto';
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************ Bouton degradé **************************************/
.btn-degrad {
  background: linear-gradient(150deg, #9356dc, #ff79DA);
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn-degrad:hover {
  background: linear-gradient(10deg, #c9abee, #fface8);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/************************************ Etape Fonctionnement **************************************/
.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
  padding: 20px 15px 20px 15px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.step:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f5edfe;
  border-color: #f5edfe;
}

.step .number {
  background-color: #512c7e;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  padding: 11px 14px 11px 14px;
  position: absolute;
  margin-left: 10px;
}

.step i {
  padding: 15px 15px 15px 15px;
  color: #512c7e;
  margin: 10px;
}

.step p {
  font-weight: bold;
}

/************************************ Coeur  **************************************/
.block-heart {
  cursor: pointer;
  position: relative;
}

.block-heart .full-like {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79DA), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-heart .empty-like {
  color: black;
  position: absolute;
}

.block-heart:hover .empty-like {
  background-color: transparent;
  color: transparent;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

/************************************ MENU **************************************/
#carte .empty-like {
  background-color: #f2f2f2;
}

/************************************ ACCUEIL **************************************/
#carte-restaurants .empty-like {
  background-color: red;
}

/************************************  **************************************/
/************************************  **************************************/
/************************************  **************************************/
.logo {
  text-align: center;
}

.arrow a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  left: 15px;
  top: 5px;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  width: 100%;
}

footer h2 {
  font-size: 18px;
  padding: 10px 0px 10px 10px;
}

footer li {
  list-style: none;
  padding: 10px 0px 5px 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

/************* ACCUEIL Belleville, Paris ************/
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.localisation .fa-location-dot {
  padding-right: 10px;
}

.banner {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 20px 60px 20px;
}

/************************************ ACCUEIL Fonctionnement **************************************/
.fonctionnement {
  margin-bottom: 20px;
  margin: auto;
  background-color: pink;
}

/************************************ ACCUEIL Cartes restaurants **************************************/
#restaurants {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#restaurants article {
  position: relative;
  width: 96%;
}

#restaurants article .new-message {
  position: absolute;
  width: 100px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  right: 30px;
  top: 15px;
}

#restaurants .test {
  padding-left: 15px;
}

#restaurants a {
  text-decoration: none;
}

#restaurants .left-side {
  color: black;
  font-size: 14px;
  margin: 0px;
}

#restaurants figure {
  width: 96%;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  margin: 0px 0px 20px 0px;
  -webkit-box-shadow: 5px 5px 5px #b9b6b6;
          box-shadow: 5px 5px 5px #b9b6b6;
}

#restaurants figure img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants figure figcaption {
  padding: 5px 15px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#restaurants figure figcaption .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#restaurants figure figcaption .left-side h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

#restaurants figure figcaption .left-side p {
  font-size: 16px;
}

#restaurants figure figcaption .right-side {
  padding-top: 10px;
  font-size: 20px;
}

/************* MENU Image des restaurants ************/
#banner img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/************* MENU Titre des restaurant ************/
.title-menu {
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px 20px 0px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  top: -80px;
}

/************************************ MENU  **************************************/
#carte {
  background-color: #f6f6f6;
  position: relative;
}

#carte #commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#carte #formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#carte #formulaire .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carte #formulaire .menu-section .btn-menu {
  background-color: #FFFFFF;
  border: none;
  height: 60px;
  width: 90%;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carte #formulaire .menu-section .btn-menu h3 {
  font-weight: bold;
  padding-bottom: 5px;
}

#carte #formulaire .menu-section .btn-menu .menu-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  #header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .logo {
    height: auto;
  }
  #header .arrow {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .title-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-menu .fa-heart {
    padding-left: 30px;
  }
  #formulaire {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #formulaire .menu-section {
    width: 100%;
  }
  #formulaire .menu-section .btn-menu {
    margin: 10px 0px 10px 0px;
  }
  #formulaire .menu-column {
    width: 30%;
  }
  #formulaire h2 {
    font-size: 20px;
  }
  /******************************** RESPONSIVE ACCUEIL **********************************/
  .fonction .fonctionnement {
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonction .fonctionnement .step {
    margin: 20px;
    width: 30%;
    padding: none;
  }
  .fonction .fonctionnement .number {
    position: relative;
    left: -35px;
  }
  #restaurants #cartes-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
  }
  #restaurants #cartes-restaurant article {
    width: 45%;
  }
  #footer {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */