/************* ACCUEIL Belleville, Paris ************/

.localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(234,234,234,255);
    align-items: center;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    .fa-location-dot{
        padding-right: 10px;
    }
}

.banner{
    background-color: rgba(246,246,246,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px 100px 20px;

    .btn-explore{
        align-items: center;
        position: relative;
        top: 30px;
  }
}

/************************************ ACCUEIL Fonctionnement **************************************/

.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonction, #restaurants{
    padding: 50px 0px 50px 0px;
}

/************************************ ACCUEIL Cartes restaurants **************************************/

#restaurants{
    background-color: rgba(246,246,246,255);
    width: 100%;
    article{
        position: relative;
        object-fit: cover;

        .new-message{
            position: absolute;
            background-color: rgb(153,226,208);
            color: rgb(0,135,102);
            border-radius: 3px;
            font-size: 14px;
            text-align: center;
            padding: 6px 10px 6px 10px;
            right: 20px;
            top: 25px;
        }
    }
    a{
        text-decoration: none;
    }
    .left-side{
        color: black;
        font-size: 14px;
        margin: 0px;

    }

    figure{
        height: 230px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 5px 5px #d8d5d5;
        margin: 10px 0px 10px 0px;

        img{
            width: 100%;
            height: 70%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }

        figcaption {
            padding: 5px 15px 5px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;

            .left-side{
                display: flex;
                flex-direction: column;
                h3{
                    margin:0px;
                    font-weight: bold;
                    font-size: 18px;
                    padding-bottom: 5px;
                }

                p{
                    font-size: 18px;
                }
            }
            .right-side{
                padding-top: 10px;
                font-size: 20px;
                }
            }
        }

    }
    #restaurants{
        width: 100%;

        #cartes-restaurant{
            display: flex;
            flex-direction: column;
            align-items: center;

        article{
            width: 90%;
        }
        }

    }

/************* MENU Image des restaurants ************/

#banner{

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/************* MENU Titre des restaurant ************/

.title-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    top: -70px;
}

/************************************ MENU  **************************************/

#carte{
    background-color: rgba(246,246,246,255);
    position: relative;
    #commander{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
        #formulaire{
            display: flex;
            flex-direction: column;
            padding: 40px 0px 40px 0px;
                .menu-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .btn-menu{
                        background-color: #FFFFFF;
                        box-shadow: 2px 5px 6px #d8d5d5;
                        border: none;
                        height: 70px;
                        width: 90%;
                        margin: 10px 0px 10px 0px;
                        text-align: left;
                        border-radius: 10px;
                        align-items: center;

                        h3{
                            font-weight: bold;
                            padding-bottom: 5px;
                        }

                        .menu-price{
                            display: flex;
                            justify-content:flex-end;
                            font-weight: bold;
                            padding: 10px;
                        }
                    }
                }
        }
}