
/************************************ Bouton degradé **************************************/
.btn-degrad{
    background: linear-gradient(170deg, #ff79DA, #9356dc);
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    box-shadow: 2px 5px 6px;

    &:hover{
        background: linear-gradient(170deg, lighten( #ff79DA, 20%), lighten(#9356dc, 10%));
        transition: transform .2s;
        transform: scale(1.1);
        }
 }
/************************************ Etape Fonctionnement **************************************/

.step{
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 16px;
    font-weight: lighter;
    align-items: center;
    height: 35px;
    margin-top: 25px;
    border-radius:25px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 8px rgb(194, 191, 191);
    padding: 20px 15px 20px 15px;
    transition-property: transform;
    transition-duration: 1000ms;

    &:hover{
        background-color:rgba(245,237,254,255);
        border-color:rgba(245,237,254,255);
        i{
            color:#9356dc
        }
    }
    .number{
        background-color: #9356dc;
        color: white;
        font-size: 12px;
        border-radius: 100%;
        padding: 5px 9px 5px 9px;
        margin-left: 10px;
        position: relative;
        right: 35px;
    }
    i
    {
        padding: 15px 30px 15px 0px;
        color: rgb(95, 91, 91);
        font-size: 20px;
    }
}
/************************************ Coeur  **************************************/

.block-heart{
    cursor: pointer;
    position: relative;

    .full-like{
        background: -webkit-gradient(linear, left top, left bottom, from(#ff79DA), to(#9356dc));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .empty-like{
        color: black;
        position: absolute;
    }
    &:hover{
        .empty-like{
            background-color: transparent;
            color: transparent;
            transition-duration: .5s;
        }
    }
    .home-heart{
        background-color: white;
        font-size: 25px;
    }
    .menu-heart{
        background-color: #f2f2f2;
        font-size: 25px;
    }
  }
  /************************************ MENU **************************************/



/************************************  **************************************/
/************************************  **************************************/
/************************************  **************************************/
