@charset "UTF-8";
/****************************************** ANIMATION LOADER **********************************************/
.loader {
  background-color: rgba(246, 246, 246, 0.8);
  inset: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 3s forwards;
}
.loader .fa-bell-concierge {
  font-size: 150px;
  animation: chargeur 3s;
  color: green;
}

@keyframes disappear {
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    visibility: hidden;
  }
}
@keyframes chargeur {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79DA;
  }
  75% {
    color: #99E2D0;
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1.5);
    opacity: 0;
  }
}
/************************************** ANIMATION  APPARITION DU MENU **********************************************/
.menu-section .delay-1 {
  animation: appearance 0.5s;
}
.menu-section .delay-2 {
  animation: appearance 1.5s;
}
.menu-section .delay-3 {
  animation: appearance 2s;
}
.menu-section .delay-4 {
  animation: appearance 2.5s;
}

@keyframes appearance {
  from {
    transform: scale(0.1);
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1;
  }
}
/************************************** ANIMATION  CHECK **********************************************/
.btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu .description-side {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu .description-side p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu .description-side h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-menu .card-checked {
  width: 0;
  opacity: 0;
  background: #99e2d0;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.btn-menu:hover .card-checked {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 100%;
  width: 70px !important;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
}

.price-side {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.fa-circle-check {
  font-size: 30px;
  padding: 20px;
  color: #ffffff;
}
.fa-circle-check:hover {
  animation: checked 0.5s;
}
@keyframes checked {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glissement {
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}

/******************************* GENERALE ******************************/
html {
  font-family: "Roboto";
}

.shrikhand {
  font-family: "Shrikhand";
}

/******************************* ACCUEIL ******************************/
.logo {
  font-family: "Shrikhand";
  font-size: 30px;
}

.title-font {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 20px;
  font-weight: lighter;
}

.number {
  color: #ffffff;
  font-size: 12px;
}
.number i {
  color: rgb(95, 91, 91);
  font-size: 20px;
}

.fonction h2, #restaurants h2 {
  font-size: 23px;
  font-weight: bold;
  padding: 0px 0px 10px 20px;
}

.new-message {
  color: rgb(0, 135, 102);
  font-size: 14px;
}

.left-side {
  color: black;
  font-size: 14px;
  margin: 0px;
}
.left-side h3 {
  font-weight: bold;
  font-size: 18px;
}
.left-side p {
  font-size: 18px;
}

.right-side {
  padding-top: 10px;
  font-size: 20px;
}

/******************************* MENU ******************************/
.arrow a {
  color: #000000;
  font-size: 30px;
}

.title-menu h1 {
  font-size: 26px;
  text-align: center;
  font-family: "Shrikhand";
}

#formulaire h2 {
  font-weight: 100;
  margin: 20px;
  text-align: left;
}
#formulaire .underline {
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 4px;
}
#formulaire .btn-menu h3 {
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 5px;
}
#formulaire .btn-menu p {
  font-weight: 100;
}
#formulaire .btn-menu .menu-price {
  font-weight: bold;
}
#formulaire .btn-menu .description-side {
  font-size: 15px;
}

/******************************* BOUTON ******************************/
.btn-degrad {
  color: #ffffff;
  font-size: 16px;
}

/******************************* HEART ******************************/
.home-heart, .menu-heart {
  font-size: 25px;
}

/******************************* FOOTER ******************************/
#footer {
  color: #f2f2f2;
}
#footer h2 {
  font-size: 18px;
  font-weight: lighter;
}
#footer h2 a {
  color: #f2f2f2;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Roboto";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************ Bouton degradé **************************************/
.btn-degrad {
  background: linear-gradient(170deg, #ff79DA, #9356dc);
  width: 200px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  box-shadow: 2px 5px 6px;
}
.btn-degrad:hover {
  background: linear-gradient(170deg, #ffdff6, #ae80e5);
  transition: transform 0.2s;
  transform: scale(1.1);
}

/************************************ Etape Fonctionnement **************************************/
.step {
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: 16px;
  font-weight: lighter;
  align-items: center;
  height: 35px;
  margin-top: 25px;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 8px rgb(194, 191, 191);
  padding: 20px 15px 20px 15px;
  transition-property: transform;
  transition-duration: 1000ms;
}
.step:hover {
  background-color: rgb(245, 237, 254);
  border-color: rgb(245, 237, 254);
}
.step:hover i {
  color: #9356dc;
}
.step .number {
  background-color: #9356dc;
  border-radius: 100%;
  padding: 5px 9px 5px 9px;
  margin-left: 10px;
  position: relative;
  right: 35px;
}
.step i {
  padding: 15px 30px 15px 0px;
}

/************************************ Coeur  **************************************/
.block-heart {
  cursor: pointer;
  position: relative;
}
.block-heart .full-like {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79DA), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-heart .empty-like {
  color: black;
  position: absolute;
}
.block-heart:hover .empty-like {
  background-color: transparent;
  color: transparent;
  transition-duration: 1s;
}
.block-heart .home-heart {
  background-color: #ffffff;
}
.block-heart .menu-heart {
  background-color: #f6f6f6;
}

.logo {
  text-align: center;
}

.arrow a {
  text-decoration: none;
  position: absolute;
  left: 15px;
  top: 5px;
}

#footer {
  background-color: rgb(53, 53, 53);
  padding: 15px 0px 40px 15px;
}
#footer h2 {
  padding: 10px 0px 10px 10px;
}
#footer li {
  list-style: none;
  padding: 5px;
}
#footer li a {
  text-decoration: none;
  color: #FFFFFF;
}
#footer li a i {
  padding-right: 5px;
}
#footer li a .fa-utensils {
  margin-right: 5px;
}

/************* ACCUEIL Belleville, Paris ************/
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  align-items: center;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.localisation .fa-location-dot {
  padding-right: 10px;
}

.banner {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 20px 100px 20px;
}
.banner .btn-explore {
  align-items: center;
  position: relative;
  top: 30px;
}

/************************************ ACCUEIL Fonctionnement **************************************/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonction, #restaurants {
  padding: 50px 0px 50px 0px;
}

/************************************ ACCUEIL Cartes restaurants **************************************/
#restaurants {
  background-color: rgb(246, 246, 246);
  width: 100%;
}
#restaurants article {
  position: relative;
  object-fit: cover;
}
#restaurants article .new-message {
  position: absolute;
  background-color: rgb(153, 226, 208);
  border-radius: 3px;
  text-align: center;
  padding: 6px 10px 6px 10px;
  right: 20px;
  top: 25px;
}
#restaurants a {
  text-decoration: none;
}
#restaurants figure {
  height: 230px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #d8d5d5;
  margin: 10px 0px 10px 0px;
}
#restaurants figure img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#restaurants figure figcaption {
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#restaurants figure figcaption .left-side {
  display: flex;
  flex-direction: column;
}
#restaurants figure figcaption .left-side h3 {
  margin: 0px;
  padding-bottom: 5px;
}

#restaurants {
  width: 100%;
}
#restaurants #cartes-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurants #cartes-restaurant article {
  width: 90%;
}

/************* MENU Image des restaurants ************/
#banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/************* MENU Titre des restaurant ************/
.title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: -70px;
}

/************************************ MENU  **************************************/
#carte {
  background-color: rgb(246, 246, 246);
  padding-bottom: 40px;
  position: relative;
}
#carte #commander {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#carte #formulaire {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
}
#carte #formulaire .menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carte #formulaire .menu-section .btn-menu {
  background-color: #FFFFFF;
  box-shadow: 2px 5px 6px #d8d5d5;
  border: none;
  height: 70px;
  width: 90%;
  margin: 10px 0px 10px 0px;
  text-align: left;
  border-radius: 10px;
  align-items: center;
}
#carte #formulaire .menu-section .btn-menu .menu-price {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  #header {
    align-items: center;
  }
  #header .logo {
    height: auto;
  }
  #header .logo p {
    font-size: 50px;
  }
  #header .arrow {
    justify-content: space-around;
  }
  .title-menu {
    justify-content: center;
  }
  .title-menu .fa-heart {
    padding-left: 30px;
  }
  #formulaire .menu-position {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  #formulaire .menu-section {
    width: 100%;
  }
  #formulaire .menu-section .btn-menu {
    margin: 10px 0px 10px 0px;
  }
  @keyframes text-defile {
    0%, 100% {
      margin-left: 0;
    }
    99.99% {
      margin-left: -100%;
    }
  }
  #formulaire .menu-column {
    width: 33%;
  }
  #formulaire h2 {
    font-size: 20px;
  }
  /******************************** RESPONSIVE ACCUEIL **********************************/
  .fonction .fonctionnement {
    justify-items: center;
    display: flex;
    flex-direction: row;
  }
  .fonction .fonctionnement .step {
    margin: 20px;
    width: 30%;
    padding: none;
  }
  .fonction .fonctionnement .number {
    position: relative;
    left: -35px;
  }
  #restaurants #cartes-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
  }
  #restaurants #cartes-restaurant article {
    width: 45%;
  }
  #footer {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
