/******************************* GENERALE ******************************/

html{

    font-family: 'Roboto';
}
.shrikhand{
    font-family: 'Shrikhand';

}

/******************************* ACCUEIL ******************************/

.logo{
    font-family: 'Shrikhand';
    font-size: 30px;
    background-color: rgb(168, 32, 55);
}

.title-font{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
}

.banner h2{
    font-size: 20px;
    padding-bottom: 20px;
}

.fonction h2, .restaurants h2{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
/******************************* MENU ******************************/

#formulaire h2{
    font-weight: 100;
    margin: 10px;
    text-align: left;

    .underline{
        border-bottom: solid 3px #333;
    }
}

.description-side {
    font-size: 15px;
}
